.settings
/\.project
/\.classpath
/.settings/org.scala-ide.sdt.core.prefs

/.idea/
/.idea_modules
/.DS_Store

target/
/\.target/

src/main/resources/fink.properties
src/main/webapp/uploads

/\.cache

*~
*.swp
*.swo
*.log
*.iml
